<style>
  body {
  margin: 0;
  background-image: 
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/dogespin.gif),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/42863/rainbow.gif);
  background-size: 10%, 600px 1px;
  font-family: 'comic sans ms', 'comic sans', cursive;
  font-size: 1.25em;
}
div.content {
  background: rgba(255,255,255,0.8);
  margin: 100px auto;
  width: 70%;
  padding: 20px 5%;
  max-width: 900px;
  min-width: 500px;
  border-radius: 10px;
}
h1 {
  text-align: center;
  font-size: 3.5em;
  margin: 0;
}
h2 {
  text-align: center;
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
div.small {
  width: 200px;
  margin: 20px auto;
  font-size: 0.5em;
  text-align: center;
}
p.center {
  text-align: center;
}
img.picture {
  display: block;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  border: solid 5px #888;
  animation: spin 5s infinite linear;
}
a {
  color: #38c;
  text-decoration: none;
  border-bottom: solid 1px #38c;
  transition: all 200ms;
}
a:hover {
  color: #159;
  border-bottom: solid 5px #159;
}

@media (max-width:500px) {
  div.content {
    width: 90%;
    max-width: 90%;
    min-width: 69px;
    font-size: 0.8em;
  }
}
@keyframes spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
</style>

<div class="content">
  
  <h1>와 샌즈</h1>
  <h2>눈을 조져버리고 싶나요??</h2>
  <p class="center"><b>미친새끼야</b> 여기를 왜 온거냐</p>
  
  <h3>뭔데 씨발?</h3>
  <p>ㄴㅇㄱ</p>
  
  
</div>